html {
  min-height: 100%;
  min-width: 100%;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#login {
  min-height: 35.5px;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.min-w-272 {
  min-width: 272px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.pa-md {
  padding: 16px;
}
.pa-lg {
  padding: 32px;
}
.mb-xs {
  margin-bottom: 5px;
}
.mt-lg {
  margin-top: 32px;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.color-grey {
  color: #555;
}
.color-white {
  color: #fff;
}
.bg-green {
  background-color: #2ecc71;
}
.bg-red {
  background-color: #e74c3c;
}
.bg-dark-grey {
  background-color: #2c3e50;
}
.text-left {
  text-align: left;
}
.display-none {
  display: none;
} 
.button {
  padding: 10px 30px;
  box-shadow: 0 2px 5px #ccc;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: none;
  background-color: white;
  transition: box-shadow .2s ease-in-out
}
.button:hover {
  box-shadow: 0 0 3px 3px rgb(66 133 244 / 30%)
}
.snack {
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  z-index: 2000;
}
#dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1000;
}
.card {
  border-radius: 16px;
  min-height: 300px;
  min-width: 600px;
  box-shadow: 0 0 3px 3px #777;
  background-color: #fff;
  position: relative;
  z-index: 100;
}
.card-inputs-block {
  width: 25%;
  flex: 0 0 auto;
}
.files-list-block {
  flex: 10000 1 0%;
  border-radius: 0 16px 16px 0;
}
.title {
  padding: 8px;
  margin-bottom: 16px;
  margin-top: 0;
  border-bottom: 1px solid #eee;
  text-align: left;
}
.card-dismiss {
  padding: 0 6px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: 1000;
  cursor: pointer;
}
.non-selectable {
  user-select: none!important;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
